<form action="" method="post">
    <input type="text" name="name" id="" required placeholder="Enter category name" value="{{category.name}}">
    <br>
    <input type="text" name="description" id="" required placeholder="Enter category description" value="{{category.description}}">
    <br>
    <input type="submit" value="Update">
</form>